body{
    background-color: aliceblue;
}

h1{
    color: black;
    text-align: center;
    border: 1px saddlebrown;
    
}
h2{
    color: black;
    text-align: center;
}
div{
    background-color: aqua;
    border: 1px solid black;
    width: 50%;
    margin: 1%
     
}

.img-container
    width: 300px;
    border: 5px solid #DDA15E;
    padding: 5px;
    margin: 5px;
    overflow: auto;
    /* Ensures the div behaves correctly if the image is too large */